@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 220 33% 97%; /* #F5F7FA */
    --titles: 230 33% 31%; /* #343C6A */
    --texts: 0 0% 14%; /* #232323 */
    --primary: 0 0% 14%; /* #232323 */
    --primary-foreground: 0 0% 100%; /* #FFFFFF */
    --secondary-texts: 219 35% 62%; /* #718EBF */
    --secondary: 221 86% 54%; /* #396AFF */
    --muted: 0 0% 69.4%; /* #B1B1B1 */
    --chart-1: 221 86% 54%; /* #396AFF */
    --chart-2: 230 33% 31%; /* #343C6A */
    --chart-3: 32 98% 56%; /* #FC7900 */
    --chart-4: 0 0% 14%; /* #232323 */
    --border: 204 48% 92%; /* #E6EFF5 */
    --input-border: 206 44% 91%; /* #DFEAF2 */
    --input-background: 220 33% 97%; /* #F5F7FA */
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 220 13% 18%; /* Adjusted for dark mode */
    --titles: 220 14% 80%; /* Adjusted for dark mode */
    --texts: 0 0% 90%; /* Adjusted for dark mode */
    --primary: 0 0% 14%; /* #232323 */
    --primary-foreground: 0 0% 100%; /* #FFFFFF */
    --secondary-texts: 219 35% 62%; /* Same as light mode */
    --secondary: 221 86% 54%; /* #396AFF */
    --disabled: 0 0% 40%; /* Adjusted for dark mode */
    --chart-1: 221 86% 54%; /* Same as light mode */
    --chart-2: 230 33% 31%; /* Same as light mode */
    --chart-3: 32 98% 56%; /* Same as light mode */
    --chart-4: 0 0% 14%; /* Same as light mode */
    --border: 204 48% 27%; /* Adjusted for dark mode */
    --input-border: 206 44% 25%; /* Adjusted for dark mode */
    --input-background: 220 13% 18%; /* Adjusted for dark mode */
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
